@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EpiserverSiteFromScratch.Models.ViewModels.PageViewModel<EpiserverSiteFromScratch.Models.Pages.StartPage>

@*@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}*@

<div class="col click-header">
    <h1 @(Model.CurrentPage.Heading ?? Model.CurrentPage.Name)>@Model.CurrentPage.Heading
    
    </h1>
            @Html.PropertyFor(x => x.CurrentPage.Maincontentarea)

    </div>



<style>
    h1 { margin-top: 2em;}
</style>

